<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <welcome-file-list>
        <welcome-file>homepage.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>signup1</servlet-name>
        <servlet-class>user_signup.signup1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServelet</servlet-name>
        <servlet-class>com.tech.blog.servlets.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>com.tech.blog.servlets.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userverify</servlet-name>
        <servlet-class>com.tech.blog.servlets.userverify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyotp</servlet-name>
        <servlet-class>com.tech.blog.servlets.verifyotp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>otpverify</servlet-name>
        <servlet-class>com.tech.blog.servlets.otpverify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verotp</servlet-name>
        <servlet-class>com.tech.blog.servlets.verotp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Userverify</servlet-name>
        <servlet-class>com.tech.blog.servlets.Userverify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verifyotp</servlet-name>
        <servlet-class>com.tech.blog.servlets.Verifyotp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotpassword</servlet-name>
        <servlet-class>com.tech.blog.servlets.forgotpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOTP</servlet-name>
        <servlet-class>com.tech.blog.servlets.VerifyOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyOTP</servlet-name>
        <servlet-class>com.tech.blog.servlets.verifyOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmpassword</servlet-name>
        <servlet-class>com.tech.blog.servlets.confirmpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>com.tech.blog.servlets.feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Complaints</servlet-name>
        <servlet-class>com.tech.blog.servlets.Complaints</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDietForm</servlet-name>
        <servlet-class>com.tech.blog.servlets.GetDietForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDietChart</servlet-name>
        <servlet-class>com.tech.blog.servlets.GetDietChart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>appointment</servlet-name>
        <servlet-class>com.tech.blog.servlets.appointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifypayOTP</servlet-name>
        <servlet-class>com.tech.blog.servlets.verifypayOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doctorlogin</servlet-name>
        <servlet-class>com.tech.blog.servlets.Doctorlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLogout</servlet-name>
        <servlet-class>com.tech.blog.servlets.DoctorLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctordashbrdAppoint</servlet-name>
        <servlet-class>com.tech.blog.servlets.DoctordashbrdAppoint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>com.tech.blog.servlets.adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogout</servlet-name>
        <servlet-class>com.tech.blog.servlets.adminlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminfeedback</servlet-name>
        <servlet-class>com.tech.blog.servlets.adminfeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admincomplaints</servlet-name>
        <servlet-class>com.tech.blog.servlets.admincomplaints</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminbmiformdata</servlet-name>
        <servlet-class>com.tech.blog.servlets.adminbmiformdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminusersignup</servlet-name>
        <servlet-class>com.tech.blog.servlets.adminusersignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminappointmentdata</servlet-name>
        <servlet-class>com.tech.blog.servlets.adminappointmentdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admindoctordata</servlet-name>
        <servlet-class>com.tech.blog.servlets.admindoctordata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adddoctor</servlet-name>
        <servlet-class>com.tech.blog.servlets.adddoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteDoctor</servlet-name>
        <servlet-class>com.tech.blog.servlets.deleteDoctor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signup1</servlet-name>
        <url-pattern>/signup1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServelet</servlet-name>
        <url-pattern>/SignupServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userverify</servlet-name>
        <url-pattern>/userverify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyotp</servlet-name>
        <url-pattern>/verifyotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>otpverify</servlet-name>
        <url-pattern>/otpverify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verotp</servlet-name>
        <url-pattern>/verotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Userverify</servlet-name>
        <url-pattern>/Userverify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verifyotp</servlet-name>
        <url-pattern>/Verifyotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotpassword</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOTP</servlet-name>
        <url-pattern>/VerifyOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyOTP</servlet-name>
        <url-pattern>/verifyOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmpassword</servlet-name>
        <url-pattern>/confirmpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Complaints</servlet-name>
        <url-pattern>/Complaints</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDietForm</servlet-name>
        <url-pattern>/GetDietForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDietChart</servlet-name>
        <url-pattern>/GetDietChart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>appointment</servlet-name>
        <url-pattern>/appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifypayOTP</servlet-name>
        <url-pattern>/verifypayOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doctorlogin</servlet-name>
        <url-pattern>/Doctorlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLogout</servlet-name>
        <url-pattern>/DoctorLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctordashbrdAppoint</servlet-name>
        <url-pattern>/DoctordashbrdAppoint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogout</servlet-name>
        <url-pattern>/adminlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminfeedback</servlet-name>
        <url-pattern>/adminfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admincomplaints</servlet-name>
        <url-pattern>/admincomplaints</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminbmiformdata</servlet-name>
        <url-pattern>/adminbmiformdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminusersignup</servlet-name>
        <url-pattern>/adminusersignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminappointmentdata</servlet-name>
        <url-pattern>/adminappointmentdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admindoctordata</servlet-name>
        <url-pattern>/admindoctordata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adddoctor</servlet-name>
        <url-pattern>/adddoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteDoctor</servlet-name>
        <url-pattern>/deleteDoctor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
