*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
:root{
    --main-color:#0a3150;
    --main-color-light:#063a64;
    --primary:#cfdde6;
}
body{
    height: 100vh;
    background-image: linear-gradient(to left bottom, #e2dde1, #cfc9d4, #b6b6c9, #98a5bd, #7596af);
}
h3{
    text-align: center;
    margin-bottom: .9rem;
}
p{
    text-align: center;
    margin-bottom: 2rem;
    color: #43a047;
}
.img{
    align-items: center;
    justify-content: center;
    display: flex;
}
form{
    background-color: whitesmoke;
    width: 500px;
    height: 630px;
    padding: 50px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.15);
}
 label{
    font-weight: 500;
    color: #101030;
    
}
input{
    display: block;
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    color: #101010;
    margin-bottom: 2rem;
}
input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
   
  }

input[type="number"]{
    border: 2px solid #c2c2c2;
}
button{

    font-size: 18px;
    color: #fff;
    width: 100%;
    background: var(--main-color);
    font-weight: 600;
    transition: 0.3s ease;
    padding: 14px 15px;
    border: 1px solid var(--primary);
    border-radius: 5px;

}
